<a href="https://colab.research.google.com/github/Lena-N/python/blob/main/Copy_of_Task_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Task 2
## This is just a short exam to make sure that you are familiar with python.
## Good Luck ü§ó
## AI Approach üíö

### 1. Ask the user to enter first name and last name 
### then print 'Your Full name is : , fisrt name! last name' 

**Example:**

user input first name : Mohammed
user input last name : Sala

Output: 'your full name is  Mohammed sala!"

In [2]:
#write the code here 
first_name=input("Enter your first name: ")
last_name=input("enter your last name: ")
print("your Full Name is: "+first_name+" "+ last_name)

Enter your first name: Lena
enter your last name: Nagi
your Full Name is Lena Nagi

###2. Ask the user to input the radius then calculate the area of a circle:
####Hint: change the input type from string to float

###Sample Output:

####Radius = 1.1

####Area = 3.7994000000000008

In [5]:
PI=22/7
Radius=float(input("Please enter the radius of the given circle:"))
Area=PI*Radius**2
print(Area)

Please enter the radius of the given circle:1.1
3.8028571428571434

In [ ]:
#Write code here

Please enter the radius of the given circle: 1.1
 The area of the given circle is:  3.7994000000000008

###3. print ' AI approach club' from the given string.
####greeting = "Welcome to AI approach club!
####Hint: use string slicing

In [9]:
greeting = "Welcome to AI approach club!"
greeting[10:-1]

' AI approach club'

In [ ]:
#Write code here

o AI approach club

###4-	One line of code to delete duplicate values in the list?###4-	One line of code to delete duplicate values in the list?

list=[1,2,2,3,2,3,4,5,6]

output : [1,2,3,4,5,6]

In [10]:
list=[1,2,2,3,2,3,4,5,6]
set(list)

{1, 2, 3, 4, 5, 6}

In [ ]:
#Write code here

[1, 2, 3, 4, 5, 6]

### 6. Write a program to give the  student the final grade as the following:

90 - 100 --> A

80 - 89 --> B

70 - 79 --> C

50 - 69 --> D

< 50 --> F

####Hint: use if, elif, else

In [18]:
grade=int(input("Enter Your Grade : "))
def return_grade(grade):
  if(grade>=90 and grade <=100):
    return "A"
  elif(grade>=80 and grade<=89):
    return "B"
  elif (grade>=70 and grade<=79):
    return "C"
  elif (garde>=50 and grade<=69):
    return "D"
  else:
    return "F"
print(return_grade(grade))

Enter Your Grade : 83
B

In [16]:
#Write code here

###6-	 Print characters from a string that are present at an even index number

EX:


```
**Orginal** String is   AiapproachClub
Printing only even index chars
i
p
r
a
h
l
b

```

In [25]:
string="AiapproachClub"
for i in range(len(string)):
  if(i%2!=0):
    print(string[i])

i
p
r
a
h
l
b

In [ ]:
#Write code here

i
p
r
a
h
l
b

###7- print first and last  element of numbers in  list
list =[1,2,3,4,5]

output ==> first num : 1

output ==> last num : 5

In [28]:
list =[1,2,3,4,5]
print("first num :"+str(list[0]))
print("last num :"+str(list[len(list)-1]))

first num :1
last num :5

In [ ]:
#Write code here

 First Number is : 1
 Last Number is : 5

###8- Add 35 between 3 and 4
numbers=[1,2,3,4,5]

In [29]:
numbers=[1,2,3,4,5]
numbers.insert(3,35)
numbers

[1, 2, 3, 35, 4, 5]

In [ ]:
#Write code here

[1, 2, 3, 35, 4, 5]

###9-Write a program to display only those numbers from a list that satisfy the following conditions
list =[10,20,30,40,150,550,30]
# conditions: 
```
‚Ä¢	The number must be divisible by five
‚Ä¢	If the number is greater than 150, then skip it and move to the next number
‚Ä¢	If the number is greater than 500, then stop the loop
```

In [35]:
list =[10,20,30,40,150,550,30]
list2=[]
for i in list:
  if i %5==0 and i>500:
    break
  if i %5==0 and i>150:
    continue
  list2.append(i)
list2

[10, 20, 30, 40, 150]

In [ ]:
# write code here

[10, 20, 30, 40, 150]

###10 - Python program to swap two number without using third variable

In [37]:
x=5.4
y=10.3
x=x+y
y=x-y
x=x-y
print(x)
print(y)

10.3
5.4

In [ ]:
# write code here

Before swapping:
Value of x :  5.4  and y :  10.3
After swapping:
Value of x :  10.3  and y :  5.4

###11-Write a program to find how many times substring ‚ÄúEmma‚Äù appears in the given string.

Given:
str_x = "Emma is good developer. Emma is a writer"

In [39]:
str_x = "Emma is good developer. Emma is a writer"
str_x.count("Emma")

2

In [ ]:
#Write code here

2

###12-Use the print() function to format the given words in the mentioned format. Display the ** separator between each string.

Expected Output:

For example: print('Name', 'Is', 'James') will display Name**Is**James

In [42]:
print('Name', 'Is', 'James',sep="**")

Name**Is**James

In [ ]:
#Write code here
# For example: print('Name', 'Is', 'mohammed') will display 
#   Name**Is**James

Name**Is**mohammed

###13- Display float number with 2 decimal places using print()

input : 458.541315
output : 458.54

In [44]:
print(round(458.541315,2))

458.54

In [ ]:

#Write code here

458.54

###14- The given tuple is a nested tuple. write a Python program to print the value 20.
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))

In [48]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))
tuple1[1][1]

20

In [ ]:
#Write code here

20

###15- Swap two tuples in Python
tuple1 = (11, 22)
tuple2 = (99, 88)

In [60]:
tuple1 = (11, 22) 
tuple2 = (99, 88)
tuple1,tuple2=tuple2,tuple1
print("tuple2 ="+str(tuple2))
print("tuple1 ="+str(tuple1))

tuple2 =(11, 22)
tuple1 =(99, 88)

In [ ]:
#Write code here

tuple2 =  (11, 22)
tuple1 =  (99, 88)

###16 - Write a program to remove the item present at index 4 and add it to the 2nd position and at the end of the list.
Given:

list1 = [54, 44, 27, 79, 91, 41]

output:


```
List After removing element at index 4  [34, 54, 67, 89, 43, 94]
List after Adding element at index 2  [34, 54, 11, 67, 89, 43, 94]
List after Adding element at last  [34, 54, 11, 67, 89, 43, 94, 11]
```

In [62]:
Original_list=[34, 54, 67, 89, 11, 43, 94]
x=Original_list.pop(4)
Original_list.insert(2,x)
Original_list.append(x)
Original_list

[34, 54, 11, 67, 89, 43, 94, 11]

In [ ]:
#Write code here

Original list  [34, 54, 67, 89, 11, 43, 94]
List After removing element at index 4  [34, 54, 67, 89, 43, 94]
List after Adding element at index 2  [34, 54, 11, 67, 89, 43, 94]
List after Adding element at last  [34, 54, 11, 67, 89, 43, 94, 11]

###17- Convert two lists into a dictionary
####input :
#####keys = ['Ten', 'Twenty', 'Thirty']
#####values = [10, 20, 30]

####output: {'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [69]:
dic={"key1":1,"key2":2}
dic["key1"]

1

In [71]:
dic={}
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]
for i in range(len(keys)):
  dic[keys[i]]=values[i]
dic

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [ ]:
#Write code here

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

###18- Write a program to use string.format() method to format the following three variables as per the expected output
###input: 
####totalMoney = 1000
####quantity = 3
####price = 450

###output:
I have 1000 dollars so I can buy 3 football for 450.00 dollars.

In [98]:
totalMoney = 1000
quantity = 3
price = 450
txt="I have {totalMoney} dollars so I can buy {quantity} football for {price} dollars.".format(totalMoney = 1000,quantity = 3,price = 450)
txt

'I have 1000 dollars so I can buy 3 football for 450 dollars.'

In [ ]:
#Write code here

I have 1000 dollars so I can buy 3 football for 450.00 dollars.

###19- Write a program to add item 7000 after 6000 in the following Python List

Given:

list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]


 output:

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [96]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][2].append(7000)
list1

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [ ]:
#Write  code here

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

###20 -Return a new set of identical items from two sets
Given:

set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

output:

{40, 50, 30}

In [74]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set2.intersection(set1)

{30, 40, 50}

In [ ]:
#Write  code here

{40, 50, 30}

#Done üòç